<% if @book_new.errors.any? %>
  <%= @book_new.errors.count %> errors prohibited this obj from being saved:
  <ul>
    <% @book_new.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'list', book: @book_new, user: @user %> <!--共通レイアウト(同じフォルダの為パス記入欄は「list」のみ-->

<h1>Books</h1>
<% @books.each do |book| %>
  <div>
    <!--＜%= image_tag book.get_image %>-->
    <!--<p>投稿ユーザー画像：＜%= image_tag 'sample-author1.jpg' %></p>-->
    <p><%= image_tag book.user.get_profile_image(100,100) %></p>
    <p><%= link_to book.title, book_path(book.id) %></p>
    <p><%= book.body %></p>
  </div>
<% end %>