<div class="row">

  <%= render 'list', book: @book_new, user: @user %>
  <!--共通レイアウト(同じフォルダの為パス記入欄は「list」のみ)-->


  <div class="col-md-8 offset-md-1">

    <h2>Book detail</h2>

    <table class="table">
      <tbody>
        <tr>

          <td>
            <%= link_to user_path(@book.user.id) do %>
            <%= image_tag @book.user.get_profile_image(100,100) %><br>
            <%= @book.user.name %>
            <% end %>
          </td>

          <td><%= link_to @book.title, book_path(@book.id) %></td>

          <td><%= @book.body %></td>

          <td id="favorite_buttons_<%= @book.id %>">
            <%= render "favorites/favorite", book: @book %>
          </td>

          <td>コメント数：<span id="comment_count"><%= @book.post_comments.count %></span></td>

          <% if @book.user == current_user %>
          <td>
            <%= link_to edit_book_path(@book.id), class:"btn btn-success" do %>
              Edit
            <% end %>
          </td>

          <td>
            <%= link_to book_path(@book.id), method: :delete, class:"btn btn-danger" do %>
              Destroy
            <% end %>
          </td>
          <% end %>

        </tr>
      </tbody>
    </table>

    <div id="post-comments">
      <%= render "post_comments/comment", book: @book %>
    </div>

    <div id="comment-form">
      <%= render "post_comments/form", book: @book, post_comment: @post_comment %>
    </div>



  </div>

</div>


<!--以下参考-->

  <!--Rails 非同期でコメント機能実装-->
    <!--https://zenn.dev/goldsaya/articles/968b2441342357-->


<!--聞きたいこと-->

  <!--なぜjqueryの定義(<script src="...)を入てないのに問題なく動作するのか…？-->
    <!--https://terakoya.sejuku.net/question/detail/16289-->
    <!--https://qumeru.com/magazine/601-->