<div class="row">

  <%= render 'list', book: @book_new, user: @user %>
  <!--共通レイアウト(同じフォルダの為パス記入欄は「list」のみ)-->


  <div class="col-md-8 offset-md-1">

    <h2>Book detail</h2>

    <table class="table">
      <tbody>
        <tr>

          <td>
            <%= link_to user_path(@book.user.id) do %>
            <%= image_tag @book.user.get_profile_image(100,100) %><br>
            <%= @book.user.name %>
            <% end %>
          </td>

          <td><%= link_to @book.title, book_path(@book.id) %></td>

          <td><%= @book.body %></td>

          <% if @book.user == current_user %>
          <td>
            <%= link_to edit_book_path(@book.id), class:"btn btn-success" do %>
              Edit
            <% end %>
          </td>

          <td>
            <%= link_to edit_book_path(@book.id), method: :delete, class:"btn btn-danger" do %>
              Destroy
            <% end %>
          </td>
          <% end %>

        </tr>
      </tbody>
    </table>

  </div>

</div>